<div class="portfolio-loader" ng-include="'views/portfolio_loader.html'"  ng-class="doneLoading? 'hide' : ''"></div>

<div ng-include="'views/header.html'" ng-class="doneLoading? '' : 'hide'"></div>

<div class='wrapper' ng-class="doneLoading? '' : 'hide'">
    <div class="copyright">©2015 Chris Luk. All rights reserved.</div>
 	<div masonry='{ "transitionDuration" : "0.3s" , "itemSelector" : ".tile", "gutter": 0}' class='portfolio'>
 		<div masonry-tile class="tile">
			<div class="tags-indicator" ng-show="projects">
				<div class="tags-selection">
					<h2>
						My Work
					</h2>
					<span class="tags-display2">
						<i ng-click="toggleTag(1,'animation')" ng-class='active[1] ? "active" : "inactive"'><span>Animation</span></i>
						<i ng-click="toggleTag(2,'illustration')" ng-class='active[2] ? "active" : "inactive"'><span>Illustration</span></i>
						<i ng-click="toggleTag(3,'design')" ng-class='active[3] ? "active" : "inactive"'><span>Design</span></i>
						<i ng-click="toggleTag(4,'motion_graphics')" ng-class='active[4] ? "active" : "inactive"'><span>Motion graphics</span></i>
						<i ng-click="toggleTag(5,'character_design')" ng-class='active[5] ? "active" : "inactive"'><span>Character design</span></i>
						<i ng-click="toggleTag(6,'storyboard')" ng-class='active[6] ? "active" : "inactive"'><span>Storyboard</span></i>
					</span>
					<span class="tags-display3" ng-show="tags.length">
						{{tags.join(', ').split('_').join(' ')}} <i class="fa fa-times" ng-click="resetTags()"></i>
					</span>
						
					</span>
				</div>
			</div>
		</div>
	
		
		<div masonry-tile ng-cloak ng-show="projects" ng-repeat="project in projects  | filterByTags:tags" class='tile' ng-click="goToProject( project.title.split(' ').join('_') ,  tags.join('+') )">

		  	<img ng-src="{{project.portfolioImg}}" alt="{{ project.title }}" imageonload err-src="img/broken image.jpg"/>
		  	<div class='projectInfoWrapper'>
				<div class="projectTitle"><h2>{{ project.title }}</h2></div>
				<div class="project-link" ng-click="goToProject( project.title.split(' ').join('_') ,  tags.join('+') )"><i class="fa fa-arrows-alt"></i></div>
			</div>
	  	</div>
	</div>
</div>
 <div style='clear: both;'></div>




