.tagsWrapper{
	@include row();
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	height:50px;
	border-bottom:1px solid rgba(0,0,0,0.3);
	border-top:1px solid rgba(0,0,0,0.3);
	.displayed-tags{
		padding:0px 20px;
		line-height:50px !important;
		a{
			color:#333;
			padding:3px 0;
			margin:0;
			border-bottom:1px dashed rgba(0,0,0,0.6);
			&:hover{
				color:$hot-pink;
				border-bottom:1px dashed $hot-pink;
			}
		}
		span{
			margin-right:20px;
		}

	}
}

.tagsToggle{	
	position:relative;
	margin-right:2px;
	height:50px;
	text-align:center;
	padding:5px 10px;
	cursor:pointer;
	margin-left:auto;
	background:none;
	color:#333;
	&:focus {outline:0;}
	span{
		@include transition(all 0.1s ease-in-out);
		margin-right:10px;
		&:last-child{
			margin-right:0;
		}
		&.fa{
			font-size:1.7em;
		}
	}
}


.tags{
	border-radius:0px 0px 3px 3px;
	.tag{
		cursor:pointer;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-align-items:center;
		    -ms-flex-align:center;
		        align-items:center;
        -webkit-justify-content:flex-end;
            -ms-flex-pack:end;
                justify-content:flex-end;
		box-sizing:border-box;
		@include user-select(none);
		&.inactive{
			background: $lighter-gray;
		}
		&.active{
			h1{
				color:white;
			}
			background:$hot-pink;
		}

		h1{
			margin:0 0 0 5px;
		}

		.checkbox{
			width:20px;
			height:20px;
			border-radius:3px;
			background:$dark-gray;
			color:white;
			font-size:1.2em;
		}

	}

}
